

  /* ------------ mitic styles ----------- */

html {
    height: 100%;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
 
  /* ------------ tags's styles ----------- */

  button {
    height: 100px;
    width: 300px;
    color: white;
    background-color: Transparent;
    cursor:pointer;
    font: 2em 'Indie Flower', cursive; 
    font-weight: bold;
    border-width: 5px;
    margin-top: 300px;
}

 button:hover {
    background-color:rgba(57, 116, 211, 0.493);
 }
 
 div {
    display: flex;
    justify-content: center;
 }

 h1 {
    font: 8em 'Indie Flower', cursive;
    color: blanchedalmond;
    justify-content: flex-start; 
 }
  
  /* ------------ id's styles ----------- */

#canvas {
    border: 1px solid red;
}

#game-container {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#restart-container {
    display: flex;
    justify-content: center;
    background-image: url(https://media1.tenor.com/images/4599e085453997a66b31ab546b3b159d/tenor.gif?itemid=10015729);   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

#main-container {
    background-image: url(https://media.giphy.com/media/l0Iy22ew7mZsGAPks/giphy.gif);   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

#canvas {
    background-image: url(images/canvasBackground.jpg);
    /* background-image: url(https://cdn.wallpapersafari.com/99/55/hBjuLd.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#intro {
    flex-direction: column; 
    display: inline-block;
    text-align: center;
}

#win-container {
    display: flex;
    justify-content: center;
    background-image: url(https://media.giphy.com/media/R8s2pWPslY0dG/giphy.gif);   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
}

#game-over {
    flex-direction: column; 
    display: inline-block;
    text-align: center;
}

#you-win {
    flex-direction: column; 
    display: inline-block;
    text-align: center;
}
